@media screen and (max-width: 600px)
{
    
    .head-img{width:50vw;height:25vh;}
    .mhide{display: none !important;}
    .binary {height:20vh;}
    .snip{width:100%;height: auto;}
    .hero-title {font-size: 2.5em;}
    .mob100{width:100vw;}
    .mob1
    {
        display: flex;
        flex-direction: column;
        
        margin:0;
        padding:0;
    }
}